.game-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 1rem 1rem 1rem;
}

.game-list-content {
    flex: 1;
}

.story-list-item {
    transition: background-color 0.25s linear;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: sans-serif;
}

.story-list-item:hover {
    background-color: rgba(255, 255, 255, 0.034);

}

.game-content {
    flex: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.game-page-header {
    background-color: rgba(255, 255, 255, 0.01);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-page-header,
.game-page-chat {
    width: 100%;
}

.game-page-header-title {
    flex: 1;
    text-align: center;
    color: rgb(255, 255, 255);
}

.game-page-header-translate {
    transition: background-color 0.25s linear;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #272727;
    color: #6b6b6b;
}

.game-page-header-translate:hover {
    background-color: #333333;

}

.game-page-chat {
    height: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.01);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow-y: auto;
}

.btn-send-action {
    transition: background-color 0.25s linear;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(29, 29, 167);
    color: rgb(255, 255, 255);
}

.btn-send-action:hover {
    background-color: rgb(19, 19, 116);
}

.humbugger-responsive {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.25rem;
}

.humbugger-responsive-icon {
    stroke: #fff;
    height: 2rem;
}

.humbugger-responsive:hover {
    background-color: #333333;
}

@media screen and (max-width: 500px) {
    .message {
        max-width: 95%;
    }
}

@media screen and (max-width: 1000px) {

    .game-content {
        padding: 0;
    }

    .game-list {
        display: none;
    }

    .humbugger-responsive {
        display: flex;
    }

    .responsive-list-open .game-list {
        display: flex;
    }

    .responsive-list-open .game-content {
        display: none;
    }

    .responsive-list-close .game-list {
        display: none;
    }

    .responsive-list-close .game-content {
        display: flex;
    }

    .game-list .humbugger-responsive {
        transform: rotateY(180deg);
    }

}